$colors: (
        greenishBlue: #274C5B,
        greenCrayola: #7EB693,
        buffaloLeather: #EFD372,
        grayishBlue: #525C60,
        abdelKerimsBeards: #D4D4D4,
        gainsborough: #E4E4E4,
        moderateGreen: #C9DECF,
        light: #fff,
);