@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&family=Roboto:wght@400;700&family=Yellowtail&display=swap');

$mainFont: 'Roboto', sans-serif;
$secondFont: 'Open Sans', sans-serif;
$cursiveFont: 'Yellowtail', cursive;

